<div class="app-content" role="main">
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav mode="side" [(opened)]="showSidenav">
      <div class="app-title">FUT Commander</div>
      <div><a class="app-route" routerLinkActive="app-route-active" [routerLinkActiveOptions]="{exact: true}" mat-button [routerLink]="'/'"> User Profile </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/Patient'"> Patient </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/Organization'"> Organization </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/CareTeam'"> Care Team </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/EpisodeOfCare'"> Episode Of Care </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/Message'"> Message </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/Appointment'"> Appointment </a></div>
      <div><a class="app-route" routerLinkActive="app-route-active" mat-button [routerLink]="'/Task'">Task</a></div>

      <div class="app-sidenav-user-control">
        <mat-divider></mat-divider>
        <fut-user-control></fut-user-control>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="app-main-window">
      <app-context-bar></app-context-bar>
      <router-outlet></router-outlet>
      <div class="app-version">v{{version}}</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
