<div class="search-page">
  <h1 class="page-title">Episode Of Care</h1>

  <button class="search-btn" mat-raised-button color="primary" (click)="search()"> Search </button>
  <mat-spinner style="display: inline-flex" diameter="17" *ngIf="loadingService.isLoading$ | async"></mat-spinner>
  <div class="table-container" *ngIf="rows$">
    <mat-table [dataSource]="rows$ | async">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <button mat-icon-button matTooltip="Add to context" color="accent" (click)="addEpisodeOfCareToContext(element.resource)"><mat-icon>add</mat-icon> </button>
          <div style="width: 10px"></div>
          <a matTooltip="Fetch resource" [routerLink]="'/EpisodeOfCare/' + element.id"> {{element.id}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef> Patient </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Add to context" color="accent" (click)="addPatientToContext(element.resource)"><mat-icon>add</mat-icon> </button>
          <div style="width: 10px"></div>
          {{element.patient}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.start | date:'dd-MM-yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.end | date:'dd-MM-yyyy HH:mm'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-stroked-button (click)="openDialog(element.resource)">Details</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="next || previous" class="search-nav">
    <button mat-raised-button color="primary" [disabled]="!previous" (click)="loadPrevious()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button color="primary" [disabled]="!next" (click)="loadNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
